<!DOCTYPE html>
<html>
<title>Taiwan Homeless Dog</title>
<head>
{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'pets/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'pets/css/style.css' %}" />
    <script src="{% static 'pets/jquery/jquery.min.js' %}" ></script>
    <script src="{% static 'pets/bootstrap/js/bootstrap.min.js' %}" ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="container body">
<div class="jumbotron top intro">
    <a target="_blank" href="https://github.com/slashtu/django-pets"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
    <p class="info">For convenience, I build a picture wall for homeless dog and cat. These data is from <a href="http://www.doghome.org.tw/phpbb2/indexnew.php" class="fb" target="_blank">Dog Home</a>, <a class="fb" href="http://www.tsaca.org.tw/index.php" target="_blank">TSACA.</a></p>
    <p class="info">為了方便瀏覽領養動物的資訊, 這邊收集了台灣優質的領養平台內容. 目前包含<a href="http://www.doghome.org.tw/phpbb2/indexnew.php" class="fb" target="_blank">流浪動物花園</a>, <a class="fb" href="http://www.tsaca.org.tw/index.php" target="_blank">貓狗同樂會</a>. 如果有其他優質的平台請聯絡我, 我會盡力將更多網站內容一起彙整進來.</p>
    <a class="btn btn-lg btn-primary" href="http://www.peta.org/living/companion-animals/8-reasons-adopt-buy-dogs/" role="button" target="_blank">
        8 Reasons to Adopt</a>
    <div class="text-right">
        <a id="fb" class="fa fa-facebook-square fa-2x fb" href="https://www.facebook.com/slashtu" target="_blank"><span class="slash">塗小彥</span></a>
    </div>
</div>
<div class="page-header">
    <h1>流浪動物花園</h1>
</div>
<div align="center">
{% for pet in garden_pets_list %}
    {% if forloop.counter0|divisibleby:6 %}
        {% if forloop.first %}
            <div class="row">
        {% else %}
            </div>
            <div class="row">
        {% endif %}
    {% endif %}
    <div class="col-xs-4 col-md-2"><a href="{{ pet.path }}" target="_blank"><img class="img-thumbnail" src="{{pet.img}}"></a></div>
    {% if forloop.last %}
        </div>
    {% endif %}
{% endfor %}
</div>
    <div class="page-header">
        <h1>貓狗同樂會</h1>
    </div>
    <div align="center">
        {% for pet in happy_pets_list %}
        {% if forloop.counter0|divisibleby:6 %}
        {% if forloop.first %}
        <div class="row">
            {% else %}
        </div>
        <div class="row">
            {% endif %}
            {% endif %}
            <div class="col-xs-4 col-md-2"><a href="{{ pet.path }}" target="_blank"><img class="img-thumbnail" src="{{pet.img}}"></a></div>
            {% if forloop.last %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
</body>
</html>